# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
media/
static/

# VSCode and IDE settings
.vscode/
.idea/

# Environment files
.env
.env.*

# Virtual environment
venv/
env/
.venv/

# Django migrations
*/migrations/*

# macOS Finder
.DS_Store

# Windows Thumbs
Thumbs.db

# firebase
*/recruitmentchat-firebase.json